/*全局样式*/
body{
	font-family: simhei,simsun,Arial, sans-serif;
	padding-top: 60px;
}
/*******nav********/
div#mynav1.collapse.navbar-collapse{
	margin: 5px 0px 5px 0px;	
}
.navbar{
	background-color: #0071c5;
	border-color: #005ea4;
	border-bottom: 3px solid rgba(0,80,146,0.75);	
}
.navbar .dropdown-menu{
	background-color: #0071c5;
}
.navbar a{
	color: #fff;
}
.navbar .navbar-brand{
	width: 64px;
	height: 42px;
	padding: 0px;
	margin-top: 10px;
	margin-right: 10px;
	background: url(../img/hdr-spr.png) no-repeat  0 -512px;
}
.navbar-nav li.active, .navbar-nav li:hover {
  background-color: #0081d6 !important;
}
.navbar-nav li a {
  color: #fff !important;
}
div.panel-body>p>a{
  color: #000000!important; 
}
div.panel-body>p>a:hover{
  color: #90D6F0!important; 
}
.main {
  color: white;
  background-color: #0062a8;
  min-height: 600px;
}
.main .container .row{
	margin-bottom: 10px;
}
.half-mask{
	background-color: rgba(0,0,0,0.7);
	height: 100%;
	width:92.4%;
	position: absolute;
	top: 75%;
	left: 15px;
	padding: 15px;
    margin: 0 auto;
}
.half-mask a {
  color: #90D6F0;
}
.half-mask:hover {
  top: 0;
  transition: top 200ms;
}
div.media-body .list-unstyled li>a{
	color: #fff;
}
div.media-body ul.list-unstyled li>a:hover{
	color: #90D6F0;
}
