body{
	background:#f5f5f5;
	font-size:12px;
 	font-family: arial,"Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei","微軟正黑體","儷黑 Pro",sans-serif;
}
body,html,h1,h2,h3,ul,li,dl,dt,dd,p ,a,span,input,button{
	margin:0px;
	padding:0px;
}
ul li{
	list-style:none;
}
a{
	text-decoration: none;
}
.login{
	width:856px;
	height:720px;
	margin:0 auto;
}
/*头部*/
.login_top{
	width:856px;
	min-height:620px;
	background-color: #fff;
	margin-bottom: 20px;
}
/*logo&小米账号登录*/
.login_top .header{
	width:856px;
	height: 168px;
	padding:50px 0 0 0;
}
.header .logo{
	width:856px;
	height:48px;
	margin-bottom:20px;
}
.header .logo .pic{
	width:48px;
	height:48px;
	margin:0 auto;
	background:url(../img/login1.jpg);
}
.header>span{
	display: block;
	width:856px;
	text-align:center;
	height:40px;
	line-height:40px;
	font-size:30px;
	color:#424242;
	margin-bottom:28px;
}
/*表单*/
.form{
	width: 360px;
    height: 200px;
    padding: 12px 0;
    margin: 0 auto;
}
.username{
	width:328px;
	height:20px;
	padding:13px 16px 13px 14px;
	border:1px solid #e0e0e0;
	margin-bottom:12px;
}
.password{
	width:328px;
	height:20px;
	padding:13px 16px 13px 14px;
	border:1px solid #e0e0e0;
	margin-bottom:38px;
}
.username.active{
	color:red;
	border:1px solid #FF6709;
}
.password.active{
	color:red;
	border:1px solid #FF6709;
}
.form .btn{
	height:50px;
	width:360px;
	background:#ef5b00;
	color: #fff;
	text-align: center;
	font-size:16px;
	line-height:50px;
	cursor: pointer;
}
/*其他登陆方式*/
.otherload{
	width: 360px;
	height: 160px;
	margin: 0 auto;
}
.otherload fieldset{
	border: none;
	margin: 0;
	padding: 0;
	border-top: 1px solid #B0B0B0;
	height: 26px;
	margin-top: 16px;
	display: block;
}
.otherload legend{
	display: block;
	font-size: 14px;
	margin: 0 auto;
	padding: 0px 25px;
	color: #B0B0B0;
}
.otherload .other_link{
	width: 360px;
    height: 30px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.other_link a{
	display:inline-block;
	width:30px;
	height:30px;
	margin-top:25px;
}
.other_link .qq{
	margin-left: 10px;
    background: url(../img/login2.jpg);
}
.other_link .qq:hover{
	background:url(../img/login11.jpg);
}
.other_link .wibo{
	margin-left:10px;
	background:url(../img/login3.jpg);
}
.other_link .wibo:hover{
	background:url(../img/login22.jpg);
}
.other_link .pay{
	margin-left:10px;
	background:url(../img/login4.jpg);
}
.other_link .pay:hover{
	background:url(../img/login33.jpg);
}
/*尾部*/
.staticlink{
	width:360px;
	height:16px;
	text-align:center;
	margin:0 auto;
}
.staticlink a{
	color:#333;
	padding:0 5px;
}
.staticlink span{
	padding:0 3px;
}
.custum{
	height:80px;
	width:100%;	
}
.link-area{
	width:100%;
	height:18px;
	line-height:18px;
	text-align:center;
}
.link-area a{
	padding:0 5px;
	color:#333;
	
}
.link-area span{
	padding:0 3px;
}
.version{
	padding-top:20px;
	height:15px;
	width:100%;
	text-align: center;
}

