/*通用属性*/
/*section{
	border: 1px solid black;
}*/
body{
	font: 12px "microsoft yahei","arial";
	color: #666;
	margin: 0px;
	padding: 0px;
}
p,ul,li,h1,h2,h3,h4,h5,h6{
	margin: 0px;
	padding:0px;
	border: none;
	list-style: none;
}
input{
	border: none;
}
/*通用类*/
.lf{float: left;}
.rt{float:right}
.clear{clear: both;}
/*整体布局*/
#top_box,#top_main,#nav,#banner,#main,#foot_box,#footer{
	width: 1211px;
	margin: 0px auto;
}
#top{
	width: 100%;
	height: 30px;
	background-color:#F7F7F7 ;
	line-height: 30px;
	border-bottom: 1px solid #eee;
}
#top_box{
	height: 30px;
}
#top_main{
	height: 60px;
	padding: 15px 0;
}
#nav{
	height: 40px;	
}
#banner{
	height: 410px;
}
#main{
    height: 1545px; 
}
#foot_box{
    height: 173px;
}
#footer{
	height: 180px;
}
/**********v02****************/
a{
	color: #666;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
    color:#ff0700;
}
/*******顶部左侧的“收藏京东以及图像”*********/
#top_box>img{
	float:left;
	margin: 9px 4px;
}
#top_box>a{
	float:left;
	line-height: 30px;
}
/******-126px -397px-126px -357px***-126px -397px***顶部右侧的连接菜单***********/
#top_box ul li{
	float: left;
	text-align: center;
	margin-right:5px ;
	position: relative;
	z-index: 1;
}
#top_box ul li b{
	border-left: 1px solid #ddd;
	padding-right: 5px;
}
li.vip a{
	padding-left: 30px;
	background: url(../Images/vip.jpg) no-repeat left center;
}
li.dakehu a{
	padding-left: 30px;
	background: url(../Images/dakehu.jpg) no-repeat left center;
}
li.app_jd a{
	display: inline-block;
	height: 26px;
	padding-left: 20px;
	background: url(../Images/iconlist_2.png) no-repeat -126px -357px;
}
li.app_jd a:hover{
	background-position: -126px -397px;
}
li.service>a{
	display: inline-block; 
	height: 26px;
	padding:0 15px;
	background: url(../Images/jt_down.jpg) no-repeat right center;
	border: 1px solid transparent;
}
li.service>a:hover{
	background: url(../Images/jt_up.jpg) no-repeat right center;
	background-color: #fff;
	border: 1px solid #ddd;
	border-bottom: none;
	position: relative;
	z-index: 3;
}
/*top部分，“客户服务的弹出菜单”*/
#service_items{
	display: none;
	position: absolute;
	border: 1px solid #ddd;
	border-top: none;
	background-color: #fff;
	box-shadow: 0 0 10px #ddd;
	z-index: 2;
	top: 27px;
	left: 6px;
}
#service_items li{
	padding-left:15px;
}
/***********v03***************/
/*搜索框*/
#search_box{
	width: 510px;
	padding: 4px 80px 0 40px;
	position: relative;
}
div.search{
	width: 500px;
	height: 30px;
	border: 3px solid #e4393c;
	background-color: #e4393c;
}
input.text{
	width: 405px;
	padding: 5px;
	height: 20px;
	background-color: #fff;
	line-height: 20px;
	color: #999;
}
input.button{
	width: 75px;
	background-color: #e4393c;
	font-size: 14px;
	color: #fff;
	height: 30px;
	line-height: 27px;
	font-weight: 700;
}
/*热门搜索*/
div.hot_words{
	color: #999;
	height: 18px;
	overflow: hidden;
}
div.hot_words span,div.hot_words a{
	color: #999;
	margin-right: 10px;
}
/*我的京东*/
#my_jd{	
	width:65px;
	height:30px;
	line-height:30px;
	background-color:#F7F7F7;
	background-image:url(../Images/iconlist_2.png);
	background-position:-116px -24px;
	background-repeat:no-repeat;
	padding:0 4px 0 25px;
	border:1px solid #efefef;
	text-align:center;
	cursor:pointer;
	margin-top:10px;
}
#my_jd b{
	border-style:solid ;
    border-width: 5px;
    border-color: #ccc transparent transparent transparent;
    position: relative;
    top: 10px;
    right: -3px;
}
#my_jd:hover{
	background-color: #fff;
	background-position: -116px -54px;
}
#settle_up{
	width:100px;
	height:30px;
	line-height:30px;
	background-color:#F7F7F7;
	background-image:url(../Images/iconlist_2.png);
	background-position: -116px -54px;
	background-repeat:no-repeat;
	padding:0 4px 0 25px;
	border:1px solid #efefef;
	text-align:center;
	cursor:pointer;
	margin-top:10px;
	margin-left: 10px;
}
#settle_up:hover{
	background-color: #fff;
	background-position: -116px -54px;
}
/***************v04*******************/
#foot_box{
	margin-top: 12px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #f1f1f1;
}
#foot_box p{
	float: left;
	width: 40px;
	height: 40px;
	margin: 5px 5px 0 55px;
	background-image: url(../Images/iconlist_2.png);
	background-repeat: no-repeat;	
}
#foot_box ul{
    width: 140px;
    float: left;
}
#foot_box ul li{
	line-height: 22px;
}
#foot_box ul li b{
	line-height: 30px;
}
#foot_box a:hover{
	color: #ff0700;
}
/*p元素的背景图*/
p.shopping_guide{
	background-position: 0px -55px;
}
p.send_type{
	background-position: -50px -55px;
}
p.pay_type{
	background-position: 0px -105px;
}
p.after_service{
	background-position:-53px -105px;
}
p.t_service{
    background-position: 0px -150px;
}
/***********************v05********************/
/*页脚*/
#footer{
	height: 180px;
	text-align: center;
	margin: 22px auto;
}
.links a{
	margin: 0 10px;
}
.copyright{
	margin:0px auto;
	margin-top:12px;
	line-height:20px;
}
.authentication{
	margin:12px auto;
}
.authentication a{
	margin: 10px 12px;
}
/********************v06**************************/
nav{
    background-color: #E64346; 
}
#category{
	width: 210px;
	float: left;
	background-color: #CD2A2C;
	height: 40px;
}
/*全部商品分类*/
#category>a{
	display: inline-block;
	height: 40px;
	padding-left: 20px;
	line-height: 40px;
	color: #fff;
	font-size: 14px;
	/*font-weight: bold;*/
	text-decoration: none;
}
#category>b{
	float: right;
	width: 20px;
	height: 20px;
	background: url(../Images/iconlist_2.png) no-repeat -65px 0px;
	margin-top: 10px;
	margin-right: 15px;
}
/*其他导航项*/
#nav_items{
	float: left;
}
#nav_items li{
	float: left;
	width: 83px;
	height: 40px;
}
#nav_items li a{
	display: block;
	width: 85px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	color: #fff;
	/*font-weight: bold;*/
	font-size: 14px;
	text-decoration: none;	
}
#nav_items li a:hover{
	background-color: #BD2A2C;
}
/***********V07-1************/
/*分类数据*/
#cate_box{
	width:203px;
	height:402px;
	padding:4px 3px 3px 0;
	border:2px solid #E4393C;
	border-top:none;
	background-color:#FAFAFA;
}
#cate_box li{
	height:28px;
	border-bottom:1px solid #fff;
}
#cate_box li h3{
	margin:0px;
	width:186px;
	padding:0px;
	padding-left:13px;
	font-size:14px;
	height:28px;
	line-height:28px;
	font-weight:400;
}
#cate_box li h3>a{
	color:#333;
	text-decoration:none;
}
#cate_box li h3:hover{
	background-color:#FFF;
	border-top:1px solid #ddd;
	border-bottom:1px solid #ddd;
}
/**********V07-2************/
/*弹出部分*/
#cate_box{
	position:relative;
}
#cate_box h3:hover{
	position:relative;
	z-index:80;
}
.sub_cate_box{
	width:705px;
	height:350px;
	border:1px solid #ddd;
	box-shadow:0 0 10px #ddd;
	padding:5px;
	background-color:#fff;
	/*定位属性*/
	position:absolute;
	top:2px;
	left:198px;
	z-index:50;
}
div.close{
	width: 26px;
	height: 26px;
	text-align: center;
    line-height: 26px;
    background-color: #555;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    /*定位属性*/
    position: absolute;
    top: -1px;
    right:-26px;
}
.sub_cate_items{
	float: left;
	height: 350px;
	/*完成后去掉*/
	width: 400px;
	border: 1px solid #ddd;
}
.sub_cate_banner{
	width: 200px;
	float: right;
	padding: 10px;
	border: 1px solid #ddd;
}
.sub_cate_box{
	display:none;
}
#cate_box{
	float:left;
}
#slider_box{
	float: left;
	width: 670px;	
	margin-left: 10px;
}
#slider{
	width: 670px;
	height: 240px;
	margin-top: 10px;
	position: relative;
}
#slider ul{
	position: absolute;
	right: 30px;
	bottom: 15px;
}
#slider ul li{
	float: left;
	width: 22px;
	height: 22px;
	background-color: #3e3e3e;
	text-align: center;
	line-height: 22px;
	margin-left: 15px;
	color: #fff;
	border-radius: 50%;
	cursor: pointer;
}
#slider ul li:hover{
	background-color: #B61B1F;
}
/*三个小广告*/
#slider_box .ad{
	width: 668px;
	height: 160px;
	border: 1px solid #eee;
	border-top: none;
}
#slider_box .ad ul li{
	float: left;
	padding: 10px 10px 7px 10px;
	border-right: 1px solid #eee;
}
#slider_box .ad ul li.li_last{
	border-right: none;
}
#slider_box .ad>a{
	background-image: url(../Images/index/ad-arraw.png);
	background-repeat: no-repeat;
	width: 25px;
	height: 35px;
}
#slider_box .ad>a:hover{
	background-image:url(../Images/index/ad-arraw-hover.png);
}
#slider_box a.preview,#slider_box a.preview:hover{
	float:left;
	margin:62px 3px 62px 2px;
}
#slider_box a.next,#slider_box a.next:hover{
	float:right;
	margin:62px 3px 62px 2px;
	background-position:0px -35px;
}
/***********v08-2************/
/*右侧广告*/
#focus_extra{
	float:left;
	padding-left:10px;
	margin-top:10px;
}
#focus_extra .ad img{
	width:310px;
	height:70px;
}
#news{
	height: 145px;	
}
#news .title{
	margin-top: 12px;
	padding-bottom:4px ;
	overflow: hidden;
}
#news .title span{
	float: left;
	font-size: 14px;
	font-weight: 900;
	color: #666666;
}
#news .title a{
	font-size: 12px;
	float: right;
	color: #005EA7;
}
#news .content{
	border: 1px solid #ddd;
	border-top: 2px solid #aaa;
	width: 308px;
	padding: 4px 0px;
    line-height: 25px;
    overflow: hidden;
}
#news .content ul{
	padding: 0px 10px;
	border-right: 1px solid #ddd;
}
#news .content ul.right{
	border:none;
}
#virtuals{
	margin-top: 4px;
	width: 308px;
	height: 166px;
	border-top: 1px solid #f1f1f1;
	border-left: 1px solid #f1f1f1;
}
#virtuals ul li{
    width: 76px;
    border-right: 1px solid #f1f1f1;
	border-bottom: 1px solid #f1f1f1;
	height: 82px;
	float: left;
	text-align: center;	
}
#virtuals ul li i{
	background: url(../Images/index/virtuals_arraw.gif) no-repeat center center;
	width: 20px;
	height: 15px;
	display: block;
	margin: 0 auto;
}
#virtuals ul .tell_pay s{
    background: url(../Images/index/virtuals-20140606.png) no-repeat;
    width: 40px;
	height: 40px;
	display: block;	
	margin: 11px auto 2px auto;
}
#virtuals ul .air_pay s{
	background: url(../Images/index/virtuals-20140606.png) no-repeat 0px -50px;
	width: 40px;
	height: 40px;
    display: block;	
	margin: 11px auto 2px auto;
}
/****************section************************/
#show_box{
	padding: 10px 0px;
}
#show_box>p{
    margin-bottom: 10px;	
    font-size: 20px;
    font-weight: bold;
}
#show_box>p>i{
	font-size: 14px;
	margin-left: 10px;
	color: #999;
	font-weight: normal;	
}
/*展示项*/
#show_box>ul>li{	
	width: 297px;
	margin-right: 5px;
	height: 190px;
	float: left;
	margin-bottom: 10px;
	position: relative;
	background-repeat: no-repeat;
	/*定义过滤效果*/
	transition: background 0.3s linear;
}
/*透明遮罩层*/
#show_box>ul>li>b{
	display: block;
	width: 44%;
	height: 100%;
	background-color: #fff;
	opacity: 0.7;
	position: relative;
	z-index: 100;
}
/*遮罩层上的文字*/
#show_box>ul>li>div{	
	position: absolute;
	left: 0px;
	top: 0px;
	padding: 20px;
	z-index: 200;
	color: #333;	
}
#show_box>ul>li>div>h3{	
	font-size: 18px;
	font-weight: bold;
	color: #50504C;
}
#show_box>ul>li>div>h4{	
	font-size: 13px;
	line-height: 20px;
	color: #666;
	font-weight: 400;
}
#show_box>ul>li>div>p{	
	font-size:12px;
	color:#e4393c;
	font-weight:400;
}
#show_box>ul>li>div>ul{
	margin-top:20px;
}
#show_box>ul>li>div>ul>li{
	color:#888;
}
#show_box>ul>li>div>ul>li>i{
	float:left;
	width:2px;
	height:2px;
	background-color:#666;
	margin-top:7px;
	margin-right:4px;
}
#show_box>ul>li>div>span{
	font-size:12px;
	padding:1px 3px;
	background:#e4393c;
	color:#fff;
	display:block;
}
/*团购*/
#show_box>ul>li>div>div{
	width:100px;
	height: 70px;
	color: #888;
	margin-top: 20px;
	background: url(../Images/index/cantuan.png) no-repeat 0px 32px;
}
#show_box>ul>li>div>div>span{
	color:#e4393c;
	font-size:24px;
}
/*背景移动*/
#show_box>ul>li:hover{
	background-position:-10px 0px;
}
/*展示项的背景图片*/
li.pinpaijie{
	background:url(../Images/index/show_01.jpg);
}
li.tuangou{
	background:url(../Images/index/show_04.png);
}
/*三幅广告*/
#three{	
	padding:50px 0px 10px 0px;	
}
#three>ul>li{	
	margin:0px 3px 0px 3px;
	float: left;
}
/*楼层：顶部*/
div.floor{
	width: 100%;
	margin-bottom: 10px;
	overflow: hidden;
}
div.floor>header{	
	height: 40px;
}
div.floor>header>span{
	width: 26px;
	height: 28px;
	float: left;
	color: #fff;
	background: url(../Images/index/index_iconlist_01.png) no-repeat 0px 2px;
	padding: 4px 2px 6px;
	font-size: 18px;
	font-weight: bold;
	border-bottom: 2px solid #aaa;
}
div.floor>header>span:hover{
	background-position: -40px 2px;
}
div.floor>header>p{
	font-size: 20px;
	width: 180px;
	text-align: center;
	font-weight: bold;
	float: left;
	padding-top: 8px;
	padding-bottom: 4px;
	border-bottom:  2px solid #aaa;
}
div.floor ul.tab{
	float: left;
}
div.floor ul.tab li{
	float: left;
	width: 158px;
	height: 23px;
	padding-top: 15px;
}
div.floor ul.tab li a{
    display: block;
    width: 158px;
    height: 23px;
    font-size: 14px;
    line-height: 23px;
    text-align: center;
    font-weight: bold;
    border-bottom: 2px solid #aaa;
}
div.floor ul.tab li a:hover{
	text-decoration: none;
	border-bottom-color: #e4393c;
	background-image: url(../Images/index/tab_arraw.png);
	background-repeat: no-repeat;
	background-position: center bottom;
}
div.floor ul.link{
	width: 211px;
	float: left;
	height: 23px;
	padding-top: 15px;
	border-bottom: 2px solid #aaa;	
}
div.floor ul.link li{
	float: left;
	padding-top: 4px;
	margin-left: 10px;
	padding-right: 15px;
	background: url(../Images/index/link_arraw.png) no-repeat right 4px;
}
div.floor ul.link li a{
    color: #005EA7;
}
/*aside*/
div.floor>aside{
    width: 209px;
    height: 361px;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    float: left;
}
div.floor>aside ul{
	margin-left: 5px;
}
div.floor>aside ul li{
	/*border: 1px solid #005EA7;*/
	width: 50%;
	float: left;
	line-height: 25px;
}
div.floor>aside span{
    display: block;
    margin-top: 15px;    
}
/*中间*/
div.floor>section{
	width: 790px;
	height: 361px;   
    float: left;
}
div.floor>section dl{	
	width: 157px;
	height: 180px;
	border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    float: left;
    margin: 0px;
}
div.floor>section>div{	
	height: 180px;
	width: 473px;
	border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    float: left;
}
div.floor>section>div img{
	width: 473px;
	height: 180px;
}
div.floor>section dl dt{
	text-align: center;
	margin-top: 10px;
}
div.floor>section dl dd{
	line-height: 18px;
	margin: 0px 10px;
}
div.floor>section dl dd {
	color: #E4393C;
	font-weight: bold;
	margin: 0px 10px;
}
/*右侧*/
div.floor>aside.floor_right{
	border-right: none;
}
div.floor>aside.floor_right ul li{
	width: 50%;
	height: 35px;
	float: left;
	border-top: 1px solid #F1F1F1;
}














